<div class="banner">
  <div class="content">  
    <div class="homepagepic">
      <%= image_tag "movielist.jpeg", class: "pic" %>
    </div>
    <div class="header">
      <h1 style="text-align:center;">Movie World 🎬</h1>
      <h3 style="text-align:center;">Welcome to Movie lovers club! 🎬</h3>
      <div class="sign-up-button">
        <%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-primary ml-2"%>
        <%= button_to "Log in", new_user_session_path, method: :get, class: "btn btn-secondary ml-2"%>
      </div>
    </div>
  </div>
</div>