<div class="banner">
  <div class="content">  

    <div class="header">
      <h1 style="text-align:center;">Movie World 🎬</h1>
      <h3 style="text-align:center;">Welcome to Movie lovers club! 🎬</h3>
      <div class="sign-up-button">
        <%= button_to "Sign up", new_user_registration_path, method: :get %>
      </div>
    </div>
  </div>
</div>