.signupbackground {


}

.signupcontent {
  // border: 1px solid black;
  // background-color: lavender;
    max-width: 60vw;
	  height: 100%;
    background-image: linear-gradient( rgba(255,255,255,1), rgba(0,0,0,0) 40%), url("abstract-analog-art-camera-390089.jpg");
    background-size: cover;
    background-position: center;

  .devisesignup {
  color:green;
  }
}



.spaceholder {
  height: 430px;
  // background-color: lavender;
}