<footer>
  <div class="bottom_footer">
    <div class="footer-links">

    <%= link_to movies_path, class: 'navbar-brand movielogo' do %> 
      <%= image_tag 'movie.svg', size: '30x30' %>
    <% end %>
    
    </div>
    <div class='footer-middlebox'></div>
    <div class="footer-name">
      <p>Made by<i class="fas"></i> &copy; Movie lovers team 2020</p>
    </div>
    </div>
</footer>  
